<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <!-- <form method="post" action="/login">
        <button type="submit">Login</button>  action add kar bhi skte nahi bhi beacuse iska get aur post ban rha hi-->
        
        <form method="post" action="/login">
            <h2>Login</h2>         
            <label>Email</label>
            <input type="email"
             name="Email"
             v
             placeholder="Enter your email"
             !important/>
            <label>Phone Number</label>
            <input type="number" name="Number" placeholder="Enter your Phone No." !important/>
            <label>Password</label>
            <input type="password" name="password" placeholder="password" !important/>
            <p class="error"><%= locals.message %></p>
            <button type="submit">Login</button>
        </form>
</body>

</html>